doctype html
html
  meta(charset='UTF-8')
  head
    title
      | Community Volunteer Group
    link(rel='icon', href='pics/fleur.png')
    // adding bootrap cdn - Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    // Optional theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    link(rel='stylesheet', href='style.css')
  body
    //
      listing of the current volunteer events - may at a future date be interactive so that people can select the events they want
      to participate in
    h1#top Current Volunteer Events
    br
    br
    br
    br
    div
      ul
        h3#homeless Helping at homeless shelter
        br
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at pharetra est. Nunc ornare cursus velit, eget bibendum mauris fringilla sed. Nam lacinia aliquam pellentesque. Quisque vehicula nec quam ut hendrerit. Quisque consectetur elit turpis, vitae ultricies libero viverra tempor. Sed at turpis imperdiet, faucibus lectus nec, bibendum orci. Aliquam vel vulputate est. Proin iaculis tincidunt enim eu auctor. Maecenas viverra convallis auctor. Integer tincidunt mattis lacus, vel tempus ligula interdum ac. Suspendisse potenti. Vivamus laoreet ex mi, id condimentum ante tincidunt non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla scelerisque nisl non nisi tempus molestie. Ut ac lectus pharetra, finibus lacus id, mollis sapien. Phasellus aliquet augue vel elit luctus, in aliquam velit luctus.
      center
        label
          h5
            input(type='checkbox')
            | Select this event
            h5
    br
    br
    br
    br
    div
      ul
        h3#cleaning Cleaning near the river
        br
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at pharetra est. Nunc ornare cursus velit, eget bibendum mauris fringilla sed. Nam lacinia aliquam pellentesque. Quisque vehicula nec quam ut hendrerit. Quisque consectetur elit turpis, vitae ultricies libero viverra tempor. Sed at turpis imperdiet, faucibus lectus nec, bibendum orci. Aliquam vel vulputate est. Proin iaculis tincidunt enim eu auctor. Maecenas viverra convallis auctor. Integer tincidunt mattis lacus, vel tempus ligula interdum ac. Suspendisse potenti. Vivamus laoreet ex mi, id condimentum ante tincidunt non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla scelerisque nisl non nisi tempus molestie. Ut ac lectus pharetra, finibus lacus id, mollis sapien. Phasellus aliquet augue vel elit luctus, in aliquam velit luctus.
      center
        label
          h5
            input(type='checkbox')
            | Select this event
            h5
    br
    br
    br
    br
    div
      ul
        h3#donating Donating school supplies to children
        br
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at pharetra est. Nunc ornare cursus velit, eget bibendum mauris fringilla sed. Nam lacinia aliquam pellentesque. Quisque vehicula nec quam ut hendrerit. Quisque consectetur elit turpis, vitae ultricies libero viverra tempor. Sed at turpis imperdiet, faucibus lectus nec, bibendum orci. Aliquam vel vulputate est. Proin iaculis tincidunt enim eu auctor. Maecenas viverra convallis auctor. Integer tincidunt mattis lacus, vel tempus ligula interdum ac. Suspendisse potenti. Vivamus laoreet ex mi, id condimentum ante tincidunt non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla scelerisque nisl non nisi tempus molestie. Ut ac lectus pharetra, finibus lacus id, mollis sapien. Phasellus aliquet augue vel elit luctus, in aliquam velit luctus.
      center
        label
          h5
            input(type='checkbox')
            | Select this event
            h5
    br
    br
    br
    br
    div
      ul
        h3#elderly Making food baskets for the elderly
        br
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at pharetra est. Nunc ornare cursus velit, eget bibendum mauris fringilla sed. Nam lacinia aliquam pellentesque. Quisque vehicula nec quam ut hendrerit. Quisque consectetur elit turpis, vitae ultricies libero viverra tempor. Sed at turpis imperdiet, faucibus lectus nec, bibendum orci. Aliquam vel vulputate est. Proin iaculis tincidunt enim eu auctor. Maecenas viverra convallis auctor. Integer tincidunt mattis lacus, vel tempus ligula interdum ac. Suspendisse potenti. Vivamus laoreet ex mi, id condimentum ante tincidunt non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla scelerisque nisl non nisi tempus molestie. Ut ac lectus pharetra, finibus lacus id, mollis sapien. Phasellus aliquet augue vel elit luctus, in aliquam velit luctus.
      center
        label
          h5
            input(type='checkbox')
            | Select this event
            h5
    br
    br
    br
    br
    div
      ul
        h3#singing Singing Christmas carols to terminally ill people
        br
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at pharetra est. Nunc ornare cursus velit, eget bibendum mauris fringilla sed. Nam lacinia aliquam pellentesque. Quisque vehicula nec quam ut hendrerit. Quisque consectetur elit turpis, vitae ultricies libero viverra tempor. Sed at turpis imperdiet, faucibus lectus nec, bibendum orci. Aliquam vel vulputate est. Proin iaculis tincidunt enim eu auctor. Maecenas viverra convallis auctor. Integer tincidunt mattis lacus, vel tempus ligula interdum ac. Suspendisse potenti. Vivamus laoreet ex mi, id condimentum ante tincidunt non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla scelerisque nisl non nisi tempus molestie. Ut ac lectus pharetra, finibus lacus id, mollis sapien. Phasellus aliquet augue vel elit luctus, in aliquam velit luctus.
      center
        label
          h5
            input(type='checkbox')
            | Select this event
            h5
    br
    br
    br
    br
    div
      ul
        h3#writing Writing letters to soldiers
        br
        br
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at pharetra est. Nunc ornare cursus velit, eget bibendum mauris fringilla sed. Nam lacinia aliquam pellentesque. Quisque vehicula nec quam ut hendrerit. Quisque consectetur elit turpis, vitae ultricies libero viverra tempor. Sed at turpis imperdiet, faucibus lectus nec, bibendum orci. Aliquam vel vulputate est. Proin iaculis tincidunt enim eu auctor. Maecenas viverra convallis auctor. Integer tincidunt mattis lacus, vel tempus ligula interdum ac. Suspendisse potenti. Vivamus laoreet ex mi, id condimentum ante tincidunt non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla scelerisque nisl non nisi tempus molestie. Ut ac lectus pharetra, finibus lacus id, mollis sapien. Phasellus aliquet augue vel elit luctus, in aliquam velit luctus.
      center
        label
          h5
            input(type='checkbox')
            | Select this event
            h5
    p
      a(href='#top') Top of page
