doctype html
html
  meta(charset='UTF-8')
  head
    title
      | Community Volunteer Group
    link(rel='icon', href='pics/fleur.png')
    // adding bootrap cdn - Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    // Optional theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    link(rel='stylesheet', href='style.css')
  body
    // information collection about new volunteers
    .container
      h2 Enter your information
      form(method='post' action ='/profile')
        .form-group
          label(for='name') Name
          input#username.form-control(type='name', name= 'name', placeholder='Enter name')
        .form-group
          label(for='username') Username
          input#username.form-control(type='username', name= 'username', placeholder='Enter name')
        .form-group
          label(for='phone') Phone
          input#phone.form-control(type='phone', name= 'phone', placeholder='Enter phone')
        .form-group
          label(for='email') Email
          input#username.form-control(type='email', name= 'email', placeholder='Enter email')
        .form-group
          label(for='address') Address
          input#address.form-control(type='address', name= 'address', placeholder='Enter address')
        .form-group
          label(for='password') Password
          input#pwd.form-control(type='password', name= 'password', placeholder='Enter password')
        .form-group
          label(for='password') Password
          input#pwd2.form-control(type='password', name= 'confirmPassword', placeholder='Reenter password')
        button.btn.btn-default(type='submit') Submit
        script(src='http://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=', crossorigin='anonymous')
