doctype html
html
  meta(charset='UTF-8')
  head
    title
      | Community Volunteer Group Upload Site
    link(rel='icon', href='pics/fleur.png')
    // adding bootrap cdn - Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    // Optional theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    link(rel='stylesheet', href='style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js')
  body
    h1 Upload your post volunteer event pictures!
    h3 Rules regarding what pictures may be uploaded
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at pharetra est. Nunc ornare cursus velit, eget bibendum mauris fringilla sed. Nam lacinia aliquam pellentesque. Quisque vehicula nec quam ut hendrerit. Quisque consectetur elit turpis, vitae ultricies libero viverra tempor. Sed at turpis imperdiet, faucibus lectus nec, bibendum orci. Aliquam vel vulputate est. Proin iaculis tincidunt enim eu auctor. Maecenas viverra convallis auctor. Integer tincidunt mattis lacus, vel tempus ligula interdum ac. Suspendisse potenti. Vivamus laoreet ex mi, id condimentum ante tincidunt non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla scelerisque nisl non nisi tempus molestie. Ut ac lectus pharetra, finibus lacus id, mollis sapien. Phasellus aliquet augue vel elit luctus, in aliquam velit luctus.
    hr
    h3 Privacy and how your photos will be used
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at pharetra est. Nunc ornare cursus velit, eget bibendum mauris fringilla sed. Nam lacinia aliquam pellentesque. Quisque vehicula nec quam ut hendrerit. Quisque consectetur elit turpis, vitae ultricies libero viverra tempor. Sed at turpis imperdiet, faucibus lectus nec, bibendum orci. Aliquam vel vulputate est. Proin iaculis tincidunt enim eu auctor. Maecenas viverra convallis auctor. Integer tincidunt mattis lacus, vel tempus ligula interdum ac. Suspendisse potenti. Vivamus laoreet ex mi, id condimentum ante tincidunt non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla scelerisque nisl non nisi tempus molestie. Ut ac lectus pharetra, finibus lacus id, mollis sapien. Phasellus aliquet augue vel elit luctus, in aliquam velit luctus.
    hr
    // uploads your files
    .container
      h2 Upload your files:
      .col-xs-4
        .form-group
          // <label class="control-label">Select</label>
          input.filestyle(type='file', data-icon='false')
